* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../img/city_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 60px !important;
    font-family: 'Pacifico', cursive !important;
    text-align: center;
    padding-top: 60px;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

section {
    justify-content: center;
    font-family: 'Montserrat', sans-serif !important;
    background-color: black;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
}

.content_city {
    gap: 20px;
}

/* .btn{

} */